/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.calculator {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.heading {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.display {
    background-color: #222;
    color: #fff;
    text-align: right;
    padding: 20px;
    font-size: 2em;
    border-radius: 5px;
    margin-bottom: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.btn {
    background-color: #555;
    color: #fff;
    padding: 20px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:active {
    background-color: #666;
}

.operator {
    background-color: #f39c12;
}

.operator:active {
    background-color: #e67e22;
}

.clear {
    background-color: #e74c3c;
}

.clear:active {
    background-color: #c0392b;
}
